.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 5px;
    color: yellow;
    background-color: rgb(36, 36, 185);
    border-radius: 5px;
    border-color: transparent;
}
.btn:hover,
.btn:focus {
  background-color: #303f9f;
}